version: "3"
services:
  vite-react-app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8082:8082"
    volumes:
      - /app/node_modules
      - .:/app
  tests:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - /app/node_modules
      - .:/app
    command: ["npm", "run", "test"]
